/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(35deg, #959062, #D4CD8B);
  background: linear-gradient(55deg,#959062,#D4CD8B);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* >>>>>>>>>HEADER<<<<<<<<< */
/*
.headerNav {
    align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}*/

}
header {
    background: -webkit-linear-gradient(35deg, #959062, #D4CD8B);
    background: linear-gradient(55deg,#959062,#D4CD8B);
    position: fixed;
    width: 100%;
    height: 5em;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: white;
}

header a {
  background-color: #338899;
  border: 0;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  color: white;
  font-size: .7em;
  padding: 6px;
  padding: .4rem;
  text-decoration: none;
}
.logobackground{
  background-color: inherit;
  box-shadow: 0px 0px 0px black;
  padding: 0px;
  padding: 0rem;
}

h1 {
    font-size: 1.5em;
    margin-top: .2em;
    margin-bottom:0;
}

h2{
  text-align: center;
}
nav li {
    display: inline-block;
}
.mainBodyContent {
    padding-top: 5em;
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #338899;
  width: 80%;
  padding: 1em;
  color: white;
  /*margin-top: 1em;*/
}

/* Section below allows dynamic resizing and rearrangement of header items */
.h1FlexBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    background: -webkit-linear-gradient(35deg, #959062, #D4CD8B);
    background: linear-gradient(55deg,#959062,#D4CD8B);
    width: 100%;
    height: 10em;
    top: 0;
    left: 0;
    right: 0;

}

nav li {
    display: inline-block;
}
/* >>>>>>>>DIV MAINBODY CONTENT<<<<<<<< */
.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #338899;
  width: 80%;
  padding: 1em;
  /*margin-top: 1em;*/
}

h2{
  text-align: center;
}

.flexContainer{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
}

.mainBodyContent {
    padding-top: 10em;
}


/*Prevent fixed header from overlapping h2 elements and section content when anchor links are clicked*/
h2:before {
    display: block;
    content: "";
    height: 7.40em;
    margin-top: -6.40em;
    visibility: hidden;
}
.flexCenter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
}
/* Styling for the Offerings tables*/

table {
margin-left: auto;
margin-right: auto;
border-style: solid;
border-width: 1px;
width: 83%;

}

caption {
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
}


table.Prices td {
  border:1px solid;
  text-align: center;
}


td {
  padding:5px;
}

.noPadding {
    padding: 0 0 0 0;
}
.noMargin {
    margin: 0 0 0 0;
}

/*This is for the tables in Do's staff section*/
#staffBio table tr td{
  /*display: flex;*/
  border-style: hidden;
  padding-top: 32px;
  padding-top: 2rem;
  width: 250px;
}

/* >>>>>>>>>FOOTER<<<<<<<< */

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (max-width: 830px) {
    h1 {
        font-size: 1em;
        margin-bottom: 0;
    }
    .headerLinkFloat {
        float: none;
        display: inline-block;
        margin-top: 0;
    }
    nav ul {
        padding: 0;
    }
    #staffBio table{
      border-style: hidden;
    }
    .h1FlexBox{
      height: 5em;
    }
    .headerlogo{
      height:80px; width: 130px;
    }
    .mainBodyContent{
      padding-top: 5em;
    }


}
@media screen and (max-width:640px) {
    header {
        background: -webkit-linear-gradient(35deg, #959062, #D4CD8B);
        background: linear-gradient(55deg,#959062,#D4CD8B);
        position: fixed;
        width: 100%;
        height: 8em;
        top: 0;
        left: 0;
        right: 0;
    }
    h2:before {
      display: block;
      content: "";
      height: 5.2em;
      margin-top: -5.2em;
      visibility: hidden;
    }
    .mainBodyContent {
      padding-top: 8em;
    }
    table tr td{
      display: block;
    }
    .h1FlexBox{
      height: 5em;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .headerlogo{
      height:90px; width: 130px;
    }
    table{
      text-align: center;
    }
    caption{
      text-align: center;
    }
}
@media screen and (max-width:360px) {
  header a{
    font-size: .6em;
  }

}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */




    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
